@use 'variables'
@use 'mixins'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: variables.$font-body

h1
    font-size: 2rem

.bg-section-footer
    background-image: url("/images/bg-footer-top-desktop.svg")
    background-repeat: no-repeat
    background-size: 100% 100%
    min-height: 200px
    margin-bottom: -10px
    @media screen and (max-width: 65rem)
        background-size: 100% 50%
        background-position: bottom
        margin-bottom: -6px
    @media screen and (max-width: 47rem)
        background-image: url("/images/bg-footer-top-mobile.svg")
        margin-bottom: -5px
