@use 'variables'

@mixin center
    display: flex
    align-items: center

@mixin button-header
    border: 1px solid variables.$pink
    border-radius: 25px
    cursor: pointer
    color: variables.$pink
    font-size: 1.1em
    padding: 0.8em 3em
    transition: 0.5s ease-in-out
    &:hover
        background-color: variables.$light-pink
        color: variables.$white
    @media screen and (max-width: 47rem)
        font-size: 0.9em
        padding: 0.5em 2em
    @media screen and (max-width: 27rem)
        padding: 0.3rem 1rem
    @media screen and (max-width: 23rem)
        padding: 1rem 4rem

@mixin button-sections
    background-color: variables.$pink
    border-radius: 25px
    color: variables.$white
    cursor: pointer
    font-size: 1rem
    font-weight: 600
    padding: 1.5em 5em
    border: none
    transition: 0.5s ease-in-out
    &:hover
        background-color: variables.$light-pink

@mixin button-footer
    background-color: variables.$pink
    border-radius: 5px
    color: variables.$white
    cursor: pointer
    padding: 1em 3em
    border: none
    transition: 0.5s ease-in-out
    &:hover
        background-color: variables.$light-pink
    @media screen and (max-width: 55rem)
        padding: 1rem 2rem
    @media screen and (max-width: 47rem)
        display: block
        width: 50%
        margin: 0 0 8rem auto
