@use 'variables'

@mixin center
    display: flex
    align-items: center

@mixin button-header
    border: 1px solid variables.$pink
    border-radius: 25px
    cursor: pointer
    color: variables.$pink
    font-size: 1.1em
    padding: 0.8em 3em
